.main-top-left {
  border-color: #1485ee;
  border-style: solid;
}

.main-top-center {
  border-color: #e04c40;
  border-style: solid;
}

.main-top-right {
  border-color: #222222;
  border-style: solid;
}

